In [5]:
# !pip install mysql-connector-python
# !pip install pymongo
# !pip install oracledb

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (9.2.0)

In [12]:
import mysql.connector
try:
    conn1 = mysql.connector.connect(
        host='localhost', # MySQL 서버 주소
        user='root',
        password='1234'
    )
    conn2 = mysql.connector.connect(
    host='210.119.14.56', # MySQL 서버 주소
    user='root',
    password='1234'
    )
    
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
    print("MySQL 연결 실패: ")
finally :
    if all([conn1.is_connected(), conn2.is_connected()]):
        print("연결중...")
# 커서 생성
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()

MySQL 서버1에 성공적으로 연결되었습니다.
MySQL 서버2에 성공적으로 연결되었습니다.
연결중...

In [10]:

que="CREATE DATABASE IF NOT EXISTS gydb"
cursor1.execute(que)
cursor2.execute(que)
conn1.close()
conn2.close()
print("테이블이 생성되었습니다.")

테이블이 생성되었습니다.

In [16]:
try:
    conn1 = mysql.connector.connect(
        host='localhost', # MySQL 서버 주소
        user='root',
        password='1234',
        database="gydb" #사용할 데이터 베이스
    )
    conn2 = mysql.connector.connect(
    host='210.119.14.60', # MySQL 서버 주소
    user='root',
    password='1234',
    database="gydb" # 사용할 데이터 베이스
    )
    cursor1 = conn1.cursor()
    cursor2 = conn2.cursor()
    
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
    print("MySQL 연결 실패: ")
finally :
    if all([conn1.is_connected(), conn2.is_connected()]):
        print("연결중...")

MySQL 서버1에 성공적으로 연결되었습니다.
MySQL 서버2에 성공적으로 연결되었습니다.
연결중...

In [47]:
query = "CREATE TABLE IF NOT EXISTS users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT, city VARCHAR(100))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [38]:
sql = "INSERT INTO users (name, age, city) VALUES (%s, %s, %s)"
m_values=[("superman",33,"Busan"), ("Cutegirl",17,"Incheon"), ("Coolboy",22,"jeju")]
cursor1.executemany(sql, m_values)
cursor2.executemany(sql, m_values)
conn1.commit()
conn2.commit()
print("여러개의 데이터 삽입 완료")

여러개의 데이터 삽입 완료

In [17]:
# 모든 데이터 조회
que = "SELECT * FROM users"
cursor1.execute(que)
users1= cursor1.fetchall()
cursor2.execute(que)
users2= cursor2.fetchall()
print("====서버 1번=====")
for user in users1:
    print(user)
print("=====서버 2번=====")
for user in users2:
    print(user)

====서버 1번=====
(1, 'superman', 33, 'Busan')
(2, 'Cutegirl', 17, 'Incheon')
(3, 'Coolboy', 22, 'jeju')
(4, 'superman', 33, 'Busan')
(5, 'Cutegirl', 17, 'Incheon')
(6, 'Coolboy', 22, 'jeju')
(7, 'superman', 33, 'Busan')
(8, 'Cutegirl', 17, 'jeju')
(9, 'Coolboy', 22, 'Jeju')
=====서버 2번=====
(1, 'superman', 33, 'Busan')
(2, 'Cutegirl', 17, 'Incheon')
(3, 'Coolboy', 22, 'jeju')
(4, 'superman', 33, 'Busan')
(5, 'Cutegirl', 17, 'Incheon')
(6, 'Coolboy', 22, 'jeju')
(7, 'superman', 33, 'Busan')
(8, 'Cutegirl', 17, 'jeju')
(9, 'Coolboy', 22, 'Jeju')