In [1]:
# !ifconfig

In [2]:
# !ping 172.18.0.6

In [3]:
# !pip install mysql-connector-python

In [4]:
import mysql.connector
try:
    conn = mysql.connector.connect(
        host='mysql', # MySQL 서버 주소
        user='root',
        password='1234'
    )
    if conn.is_connected():
        print("MySQL 서버에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
    print("MySQL 연결 실패: ")
finally :
    if conn.is_connected():
        print("연결중...")

MySQL 서버에 성공적으로 연결되었습니다.
연결중...

In [5]:
# 커서 생성
cursor = conn.cursor()
que="CREATE DATABASE IF NOT EXISTS judb"
cursor.execute(que)
conn.close()

In [6]:
# MySQL 에 연결
conn = mysql.connector.connect(
        host='mysql', # MySQL 서버 주소
        user='root',
        password='1234',
        database="judb" # 사용할 데이터 베이스
    )
cursor = conn.cursor()
print("MySQL 연결 성공!")

MySQL 연결 성공!

In [7]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS USERS(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT, city VARCHAR(50))"
cursor.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [8]:
# 단일 데이터 삽입
sql = "INSERT INTO users (name, age, city) VALUES (%s, %s, %s)"
values = ("Alice", 25, "Seoul")
cursor.execute(sql, values)
conn.commit()
print("1개의 데이터 삽입 완료, ID:", cursor.lastrowid)

1개의 데이터 삽입 완료, ID: 12

In [9]:
# 여러개의 데이터 삽입
sql = "INSERT INTO users (name, age, city) VALUES (%s, %s, %s)"
m_values=[("superman",33,"Busan"), ("Cutegirl",17,"Incheon"), ("Coolboy",22,"jeju")]
cursor.executemany(sql, m_values)
conn.commit()
print("여러개의 데이터 삽입 완료")

여러개의 데이터 삽입 완료

In [10]:
# 모든 데이터 조회
que = "SELECT * FROM users"
cursor.execute(que)
users= cursor.fetchall()
for user in users:
    print(user)

(12, 'Alice', 25, 'Seoul')
(13, 'superman', 33, 'Busan')
(14, 'Cutegirl', 17, 'Incheon')
(15, 'Coolboy', 22, 'jeju')

In [11]:
# 특정 조건 데이터 조회 (24살 이상만 조회)
que = "SELECT * FROM users"
filters = " WHERE age >= 24"
cursor.execute(que+filters)

filtered = cursor.fetchall()
for f in filtered:
    print(f)

(12, 'Alice', 25, 'Seoul')
(13, 'superman', 33, 'Busan')

In [12]:
# 특정 사용자의 나이 수정
sql = "UPDATE users SET age = %s WHERE name = %s"
values = (29, "Alice")
cursor.execute(sql, values)
conn.commit()
print("수정된 행 개수:", cursor.rowcount)

수정된 행 개수: 1

In [13]:
#특정 사용자 삭제
que = "DELETE FROM users WHERE age> %s AND city=%s"
filters = (20, "jeju")
cursor.execute(que, filters)
conn.commit()
print(f"{filters}에 해당하는 목록을 삭제하였습니다.")

(20, 'jeju')에 해당하는 목록을 삭제하였습니다.