<h1>개인과제</h1>
<h2>주피터랩에서 데이터를 입력받으면 3가지 DB에 동시에 CRUD가 되는 시스템을 만들어라.</h2>
<h3>예) input을 이용하여 <이름:> 홍길동(엔터), <나이> 33 (엔터), <주소> 해운대구 (엔터)</h3>
<h3>입력하고, 데이터를 검색, 이름은 고르고, 수정, 삭제 를 가능케 하라</h3>

In [37]:
#Mysql 연결
import mysql.connector
MSconn = mysql.connector.connect(
        host='mysql', # MySQL 서버 주소
        user='root',
        password='1234',
        database="totaldb" # 사용할 데이터 베이스
    )
MScursor = MSconn.cursor()
print("MySQL 연결 성공!")


# # 테이블 생성
# query = "CREATE TABLE IF NOT EXISTS test(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT, addr VARCHAR(100))"
# cursor.execute(query)
# print("테이블 생성완료")

MySQL 연결 성공!

In [38]:
# MongoDB 연결
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017")

try:
    print(client.admin.command('ping'))
    print("MongoDB 서버에 성공적으로 연결되었습니다.")
except Exception as e:
    print("MongoDB 서버 연결 실패: ", e)
    
db = client["totaldb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬랙션 선택
collection = db["test"]
print("사용할 컬랙션 선택됨")

{'ok': 1.0}
MongoDB 서버에 성공적으로 연결되었습니다.
사용할 데이터베이스 선택됨
사용할 컬랙션 선택됨

In [39]:
# oracle 연결
import oracledb
try:
    # 데이터베이스 연결시도
    Oconn = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    ) 
    print("Oracle 데이터베이스에 성공적으로 연결 되었습니다.")
    Ocursor=Oconn.cursor() # 
except Exception as e:
    print("Oracle 데이터베이스 연결 실패:", e)

Oracle 데이터베이스에 성공적으로 연결 되었습니다.

In [53]:
str ="""
    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요
"""
inp= 0
while(inp!=5):
    print(str)
    inp= int(input("선택하세요: "))
    # 데이터 등록
    if inp==1:
        print(inp,'번 고르셨네요.')
        print("데이터 등록 합니다.")
        print("이름을 입력하세요")
        Name = input() # 이름 입력값
        print("나이를 입력하세요")
        Age = int(input()) # 나이 입력값
        print("주소를 입력하세요")
        Addr = input() # 주소 입력값
        
        mysql
        try:
            MSsql = "INSERT INTO test (name, age, addr) VALUES (%s, %s, %s)"
            MSvalues = (Name, Age, Addr)
            MScursor.execute(MSsql, MSvalues)
            MSconn.commit()
        except Exception as e:
            print("[Mysql]INSERT 오류:", e)
        finally:
            print("[Mysql]1개의 데이터 삽입 완료, ID:", MScursor.lastrowid)
            

        # mongodb
        user = {"name":Name, "age":Age, "addr":Addr}
        insert_result = collection.insert_one(user)
        print("[Mongodb]Inserted ID삽입완료 했습니다. ",insert_result.inserted_id, )

        # oracle
        Oque = "INSERT INTO test (name, age, addr) VALUES(:1, :2, :3)"
        Ovalues = (Name, Age, Addr)
        Ocursor.execute(Oque, Ovalues)
        Oconn.commit()
        print("[Oracle]데이터 삽입 완료 했습니다.")
        

    # 데이터 읽기
    if inp==2:
        print(inp,'번 고르셨네요.')
        print("데이터 읽어 옵니다.")
        print("이름을 입력하세요")
        Name = input() # 이름 입력값
        print("나이를 입력하세요")
        Age = int(input()) # 나이 입력값
        print("주소를 입력하세요")
        Addr = input() # 주소 입력값
        
        # #mysql
        try:
            MSque = "SELECT * FROM test"
            MSfilters = " WHERE name=%s AND age = %s AND addr=%s"
            MSvalues =(Name, Age, Addr)
            MScursor.execute(MSque+MSfilters, MSvalues)
            users= MScursor.fetchall()
            for user in users:
                print("[Mysql]",user)
        except Exception as e:
            print("[Mysql]Select 오류:", e)
        finally:
            print(f"[Mysql]필터에 맞게 조회합니다.")
 

        #mongodb
        # 특정 조건을 만족하는 문서 조회
        MOfilters = {"name":Name,"age":Age,"addr":Addr} 
        MOfiltered = collection.find(MOfilters,{"_id":0})
        for f in MOfiltered :
            print("[Mongodb]",f)
        print(f"[Mongodb]필터에 맞게 조회합니다.")

        #oracle
        try:
            Oque = "SELECT * FROM test "
            Ofilters = "WHERE name LIKE :1 AND age =:2 AND addr like :3"
            Ovalues =(Name, Age, Addr)
            Ocursor.execute(Oque+Ofilters, Ovalues)
            # 모든 데이터 조회
            users= Ocursor.fetchall()
            for user in users:
                print("[Oracle]",user)
        except Exception as e:
            print("[Oracle]Select 오류:", e)
        finally:
            print(f"[Oracle]필터에 맞게 조회합니다.")
            
    # 데이터 수정
    if inp==3:
        print(inp,'번 고르셨네요.')
        print('데이터를 수정합니다.')
        print("수정하고싶은 이름을 입력하세요")
        Name = input() # 이름 입력값
        print("나이를 수정합니다.")
        print("수정하실 숫자를 입력하세요")
        Age = int(input()) # 나이 입력값
        # print("주소를 입력하세요")
        # Addr = input() # 주소 입력값
        
        # mysql
        try:
            MSsql = "UPDATE test SET age = %s  WHERE name = %s" 
            MSvalues = (Age, Name)
            MScursor.execute(MSsql, MSvalues)
            MSconn.commit()
        except Exception as e:
            print("[Mysql]INSERT 오류:", e)
        finally:
            print("[Mysql]수정된 행 개수:", MScursor.rowcount)

        #mongodb
        updates = collection.update_one({"name":Name}, {"$set":{"age":Age}}) 
        print("[Mongodb]수정됨",updates)

        # oracle
        Oque = "UPDATE test SET age = :1 WHERE name =:2"
        Ovalues = (Age, Name)
        Ocursor.execute(Oque, Ovalues)
        Oconn.commit()
        print("[Oracle]데이터가 성공적으로 수정되었습니다.")

        

    # 데이터 삭제
    if inp == 4:
        print(inp,'번 고르셨네요.')
        print("데이터를 삭제합니다.")
        print("이름을 입력하세요")
        Name = input() # 이름 입력값
        print("나이를 입력하세요")
        Age = int(input()) # 나이 입력값
        print("주소를 입력하세요")
        Addr = input() # 주소 입력값
        
        # mysql
        try:
            MSque = "DELETE FROM test WHERE name = %s AND age = %s AND addr = %s"
            MSfilters = (Name, Age, Addr)
            MScursor.execute(MSque, MSfilters)
            MSconn.commit()
        except Exception as e :
            print("[Mysql]DELETE 오류: ", e)
        finally:
            print(f"[Mysql]{MSfilters}에 해당하는 목록을 삭제하였습니다.")
        
        #mongodb
        MOfilters = {"name":Name,"age":Age,"addr":Addr} 
        MOdelete = collection.delete_one(MOfilters) 
        print("[Mongodb]수정됨",MOdelete)

        # oracle
        Oque = "DELETE FROM test "
        Ofilters = "WHERE name LIKE :1 AND age =:2 AND addr like :3"
        Ovalues =(Name, Age, Addr)
        Ocursor.execute(Oque+Ofilters, Ovalues)
        print("[Oracle]데이터가 성공적으로 삭제되었습니다..")
        
        
        
    if inp==5:
        print(inp,'번 고르셨네요.')
        print("종료합니다.")

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  2

2 번 고르셨네요.
데이터 읽어 옵니다.
이름을 입력하세요

 해운대구

나이를 입력하세요

 5

주소를 입력하세요

 5

[Mysql]필터에 맞게 조회합니다.
[Mongodb]필터에 맞게 조회합니다.
학생목록:
[Oracle]필터에 맞게 조회합니다.

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  2

2 번 고르셨네요.
데이터 읽어 옵니다.
이름을 입력하세요

 홍길동

나이를 입력하세요

 20

주소를 입력하세요

 해운대구

[Mysql] (3, '홍길동', 20, '해운대구')
[Mysql]필터에 맞게 조회합니다.
[Mongodb] {'name': '홍길동', 'age': 20, 'addr': '해운대구'}
[Mongodb]필터에 맞게 조회합니다.
학생목록:
[Oracle] (3, '홍길동', 20, '해운대구')
[Oracle]필터에 맞게 조회합니다.

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  3

3 번 고르셨네요.
데이터를 수정합니다.
수정하고싶은 이름을 입력하세요

 홍길동

나이를 수정합니다.
수정하실 숫자를 입력하세요

 22

[Mysql]수정된 행 개수: 1
[Mongodb]수정됨 UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)
[Oracle]데이터가 성공적으로 수정되었습니다.

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  2

2 번 고르셨네요.
데이터 읽어 옵니다.
이름을 입력하세요

 홍길동

나이를 입력하세요

 22

주소를 입력하세요

 해운대구

[Mysql] (3, '홍길동', 22, '해운대구')
[Mysql]필터에 맞게 조회합니다.
[Mongodb] {'name': '홍길동', 'age': 22, 'addr': '해운대구'}
[Mongodb] {'name': '홍길동', 'age': 22, 'addr': '해운대구'}
[Mongodb]필터에 맞게 조회합니다.
학생목록:
[Oracle] (3, '홍길동', 22, '해운대구')
[Oracle]필터에 맞게 조회합니다.

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  4

4 번 고르셨네요.
데이터를 삭제합니다.
이름을 입력하세요

 홍길동

나이를 입력하세요

 22

주소를 입력하세요

 해운대구

[Mysql]('홍길동', 22, '해운대구')에 해당하는 목록을 삭제하였습니다.
[Mongodb]수정됨 DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)
[Oracle]데이터가 성공적으로 삭제되었습니다..

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요

선택하세요:  5

5 번 고르셨네요.
종료합니다.