In [5]:
# !pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /home/pkdata/.local/lib/python3.10/site-packages (4.12.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /home/pkdata/.local/lib/python3.10/site-packages (from pymongo) (2.7.0)

In [11]:
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017")

try:
    print(client.admin.command('ping'))
    print("MongoDB 서버에 성공적으로 연결되었습니다.")
except Exception as e:
    print("MongoDB 서버 연결 실패: ", e)

{'ok': 1.0}
MongoDB 서버에 성공적으로 연결되었습니다.

In [13]:
# 사용할 데이터베이스 선택
db = client["mdb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬랙션 선택
collection = db["c1"]
print("사용할 컬랙션 선택됨")

사용할 데이터베이스 선택됨
사용할 컬랙션 선택됨

In [16]:
# 단일 문서 삽입
user = {"name":"Alice", "age":25, "city":"Seoul"}
insert_result = collection.insert_one(user)
print("Inserted ID",insert_result)
print("Inserted ID",insert_result.inserted_id)

Inserted ID InsertOneResult(ObjectId('67f5df0ced3db4a8792ebc0d'), acknowledged=True)
Inserted ID 67f5df0ced3db4a8792ebc0d

In [18]:
# 여러개 문서 삽입
user = [{"name":"Bob", "age":30, "city":"Seoul"},
        {"name":"Char", "age":35, "city":"Incheon"},
        {"name":"Apple", "age":15, "city":"Daegu"}
       ]
insert_results = collection.insert_many(user)
print("Inserted IDs: ", insert_results)

Inserted IDs:  InsertManyResult([ObjectId('67f5dfdced3db4a8792ebc11'), ObjectId('67f5dfdced3db4a8792ebc12'), ObjectId('67f5dfdced3db4a8792ebc13')], acknowledged=True)

In [47]:
users =collection.find({}, {"_id":0})
for u in users:
    print(u)

{'name': 'superman', 'etc': '힘쌤'}
{'name': 'cutegirl', 'age': 20, 'gender': 'female'}
{'name': 'Bob', 'age': 30, 'city': 'Seoul'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}
{'name': 'Bob', 'age': 30, 'city': 'Seoul'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}

In [29]:
# 단일 문서 조회
user = collection.find_one({"name":"Apple"}, {"_id":0})
print(user)

{'name': 'Apple', 'age': 15, 'city': 'Daegu'}

In [40]:
# 특정 조건을 만족하는 문서 조회
filters = {"age":{"$gt":20}} # 나이가 20보다 큰 문서 찾기
filtered = collection.find(filters,{"_id":0})
for f in filtered :
    print(f)

{'name': 'Alice', 'age': 32, 'city': 'Seoul'}
{'name': 'Alice', 'age': 32, 'city': 'Seoul'}
{'name': 'Alice', 'age': 32, 'city': 'Seoul'}
{'name': 'Bob', 'age': 30, 'city': 'Seoul'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}
{'name': 'Bob', 'age': 30, 'city': 'Seoul'}
{'name': 'Char', 'age': 35, 'city': 'Incheon'}

In [34]:
# 특정 문서 한 개 수정
update = collection.update_one({"name":"Alice"},{"$set":{"age":26}})
print("수정됨", update)

수정됨 UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [42]:
# 특정 문서 여러 개 수정
updates = collection.update_many({"name":{"$regex":"^A"}},{"$inc":{"age":5}}) # A로 시작하는 이름은 5살 증가 시켜라
# updates = collection.update_many({"name":"Alice"},{"$set":{"age":27}})
print("수정됨s",updates)

수정됨s UpdateResult({'n': 5, 'nModified': 5, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [45]:
# 특정 문서 한 개 삭제
delete = collection.delete_one({"etc":"잘생김"})
print("삭제됨", delete)

삭제됨 DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [48]:
# 특정 문서 여러 개 삭제
deletes = collection.delete_many({"name":{"$regex":"e$"}}) # 정규식으로 e로 끝나는 이름 모두 삭제
print("삭제됨", deletes)

삭제됨 DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [51]:
import json

with open("./photos.json") as f:
    data = json.load(f)

In [54]:
# 사용할 데이터베이스 선택
db2 = client["jdb"]
print("사용할 데이터베이스 선택됨")

# 사용할 컬랙션 선택
collection2 = db["j1"]
print("사용할 컬랙션 선택됨")

사용할 데이터베이스 선택됨
사용할 컬랙션 선택됨

In [56]:
insert = collection2.insert_many(data)
print("로드완료", insert)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: jdb.j1 index: _id_ dup key: { _id: ObjectId('67f5fcf5ed3db4a8792ebc14') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('67f5fcf5ed3db4a8792ebc14')}, 'op': {'albumId': 1, 'id': 1, 'title': 'accusamus beatae ad facilis cum similique qui sunt', 'url': 'https://via.placeholder.com/600/92c952', 'thumbnailUrl': 'https://via.placeholder.com/150/92c952', '_id': ObjectId('67f5fcf5ed3db4a8792ebc14')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [88]:
# filter3 = {"id":{"$GTE":30}} #대문자 안됨
filter3 = {"id":{"$gte":30}}
find3 = collection2.find(filter3)
# for i in find3:
#     print(i)
print("완료")

완료